<a href="/links/new">Add link</a>

<ul id="links">
  <% @links.each do |link| %>
    <li>
      <a href="<%= link.url %>"><%= link.title %></a>
        Tag: <%=link.tags.map(&:name).pop%>
    </li>
  <% end %>
</ul>
