<a href="/links/new">Add link</a><br>
<a href="/signup">Create an account</a>

<ul id="links">
  <% @links.each do |link| %>
    <li>
      <a href="<%= link.url %>"><%= link.title %></a>
        Tags: <%=link.tags.map(&:name)%>
    </li>
  <% end %>
</ul>
